.earn {
  width: 100%;
  max-width: 450px;
  height: 100%;
  padding: 20px 14px 80px 14px;
  overflow-y: auto;
  height: 100vh;
  padding-bottom: 150px;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInSlideUp 0.25s ease-in-out forwards;
}

.earn::-webkit-scrollbar {
  display: none;
}

.earn_inner {
  width: 100%;
  height: fit-content;
}

.earn_title {
  text-align: center;
  width: 100%;
  margin-bottom: 35px;
}

.earn_title img {
  width: 56px;
  height: 56px;
  margin-bottom: 4px;
}

.earn_title p {
  font-size: 20px;
  font-weight: 600;
  color: #fff;
}

.earn_limited {
  margin-top: -10px;
}

.earn_limited_task {
  height: 91px;
  padding: 0px 13px;
}

.earn_limited_task .upgrades_section_skins_item_left_info_title {
  display: flex;
  gap: 5px;
}

.earn_inner .special_spanner.upgrades_section_skins_item_left_info_title {
  margin-bottom: 0px !important;
}

.earn_limited .upgrades_section_title.special_sp {
  width: 100%;
}

.earn_limited_task .upgrades_section_skins_item_left_info_title span {
  font-size: 13px;
  font-weight: 500;
  color: #fff;
  background: #1F3E94;
  border-radius: 5px;
  padding: 2px 6px;
}

.earn_limited_task .upgrades_section_skins_item_left_info_title h4 {
  white-space: nowrap;
  min-width: 90px;
  overflow: hidden;
  font-size: 16px;
  color: var(--h);
  font-weight: 600;
  text-overflow: ellipsis;
}

.earn_limited_task .upgrades_section_skins_item_right_upgrade {
  display: block;
  align-items: center;
}

.earn_limited_task .upgrades_section_skins_item_right_upgrade img {
  width: 11px;
  height: 19px;
  margin-left: -30px;
}

.earn_limited_task .upgrades_section_skins_item_left_skin {
  min-width: 77px;
  min-height: 77px;
  border-radius: 12px;
  /* ццй */
  background: radial-gradient(127.68% 126.30% at 24% -15%, rgb(81, 44, 185), rgb(19, 67, 124) 100%)
    /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */
  ;
}

.earn_limited_task .upgrades_section_skins_item_left_skin img {
  animation: none !important;
  width: 100%;
  height: 45px !important;
  margin: auto;
  text-align: center;
  margin-top: 16px;
}

.earn_limited_task .upgrades_section_skins_item_left_info_earn {
  display: flex;
  gap: 5px;
  align-items: center;
  margin-top: -2px;
}

.earn_limited_task .upgrades_section_skins_item_left_info_earn span {
  display: flex;
  align-items: center;
  gap: 3px;
}

.earn_limited_task .upgrades_section_skins_item_left_info_earn span img {
  width: 21px;
  height: 21px;
}

.earn_limited_task .upgrades_section_skins_item_left_info_earn span p {
  color: #fff;
}

.earn_limited_task .upgrades_section_skins_item_left_info_earn p {
  font-size: 14px;
  color: #ffffff52;
  font-weight: 400;
  max-width: 186px;
}

.earn_limited_task .upgrades_section_skins_item_left {
  align-items: center;
  gap: 12px !important;
}

.earn_limited_task .upgrades_section_skins_item_left_info_earn_task p {
  color: #ffffff;
  font-size: 14px;
  margin-top: 8px;
}

.earn_limited_task .task_blue {
  border-radius: 8.36px;
  background: radial-gradient(126.70% 126.30% at 24% -15%, rgb(44, 141, 185), rgb(19, 41, 124) 100%)
    /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */
  ;
}

.earn_limited_task.upgrades_section_skins_item {
  height: 96px !important;
  border-radius: 21px !important;
  padding: 10px 12px !important;
}

.challenges .upgrades_section_skins_item_left_border {
  width: fit-content;
  height: fit-content;
  padding: 5px 12px;
  font-size: 12px;
  background: #171F3B;
  border-radius: 50px;
  margin-top: 5px !important;
}

.challenges .upgrades_section_skins_item_left_border p {
  color: #87A1FF;
  position: relative;
  right: 0;
  top: 0;
}

.two_el {
  margin-right: -37px !important;
}

.challenges .upgrades_section_skins_item_left_border p span {
  color: #455488;
}

.challenges .upgrades_section_skins_item_left {
  height: 70px;
}

.challenges .upgrades_section_skins_item_right_upgrade_summary {
  margin-left: 37px;
  margin-top: -4px;
  transform: scale(0.89);
}

.earn_limited_task .upgrades_section_skins_item_right_upgrade_chvrn {
  margin-top: 6px;
}

.upgrades_section_skins_item_left_info_earn_d {
  margin-bottom: 5px;
}

.upgrades_section_skins_item_left_info_earn_d:last-child {
  margin-bottom: 0px;
}

.challenges {
  display: block !important;
}

.challenges .upgrades_section_skins_item_left_info_title_success {
  background: transparent !important;
}

.earn_challenges_block {
  display: block;
  background: #4461c922;
  border-radius: 21px;
  width: 100%;
  height: 146px;
  padding: 10px 12px;
  margin-bottom: 8px;
}

.skeleton.loaded.earn_challenges_block {
  background: #192347ff;
}

.earn_challenges_block:last-child {
  margin-bottom: 0px;
}

.earn_challenges_block_inner {
  display: block;
  position: relative;
}

.earn_challenges_block_top {
  display: flex;
  gap: 12px;
  align-items: center;
  margin-bottom: 11px;
}

.earn_challenges_block_top_block {
  width: 77px;
  height: 77px;
  background: linear-gradient(#00a3ff 5%, #1249b6);
  border-radius: 12px;
  position: relative;
}

.earn_challenges_block_top_block img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 44px;
}

.earn_challenges_block_top_texts {
  display: block;
}

.earn_challenges_block_top_texts_title h4 {
  font-size: 16px;
  color: var(--h);
  font-weight: 600;
  margin-bottom: 7px;
}

.earn_challenges_block_top_texts_description p {
  font-size: 14px;
  color: #ffffff52;
  font-weight: 400;
  margin-bottom: 6px;
}

.earn_challenges_block_top_texts_counts span {
  font-size: 14px;
  color: #73B8FF;
  font-weight: 400;
}

.earn_challenges_block_top_spanner {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  border-radius: 50px;
  background: #2C3864;
  width: fit-content;
  height: fit-content;
  padding: 5px 10px;
  align-items: center;
  gap: 3px;
}

.earn_challenges_block_top_spanner img {
  width: 25px;
  height: 25px;
}

.earn_challenges_block_top_spanner p {
  font-size: 14px;
  color: var(--h);
  font-weight: 600;
}

.earn_challenges_block_footer {
  width: 100%;
  display: flex;
}

.earn_challenges_block_footer .upgrades_section_skins_item_right_upgrade_btn,
.earn_challenges_block_footer .upgrades_section_skins_item_right_upgrade_btn button {
  width: 100%;
  height: 36px !important;
  border-radius: 10px !important;
}

.earn .upgrades_section_title {
  margin-bottom: 8px !important;
}

.earn_challenges_block_footer_copy {
  width: 41px;
  height: 36px;
  background: #263363;
  border-radius: 10px;
  position: relative;
}

.earn_challenges_block_footer_copy img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 16px;
  height: 16px;
}

.earn_challenges_block_footer_button {
  width: 100%;
  display: flex;
  gap: 9px;
}

.earn_tasks_block {
  width: 100%;
  height: fit-content;
  padding: 0px 14px;
  background: #4461c920;
  border-radius: 17px;
}

.skeleton.loaded.earn_tasks_block {
  background: #192347ff;
}

.earn_tasks_block_item {
  width: 100%;
  height: 69px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #232D54;
  align-items: center;
}

.earn_tasks_block_item:last-child {
  border-bottom: none;
}

.earn_tasks_block_item_left {
  display: flex;
  gap: 8px;
  align-items: center;
}

.earn_tasks_block_item_left_info_title h4 {
  font-size: 15px;
  color: var(--h);
  font-weight: 600;
  margin-bottom: 4px;
}

.earn_tasks_block_item_left_info_earn p {
  font-size: 13px;
  color: #6C7490;
  font-weight: 500;
}

.earn_tasks_block_item_right_button.loading {
  position: relative;
}

.earn_tasks_block_item_right_button.loading p {
  display: none;
}

.earn_tasks_block_item_right_button.loading svg {
  display: none;
}

.earn_tasks_block_item_right_button.loading img {
  display: block !important;
  width: 15px;
  height: 15px;
  margin: auto;
  text-align: center;
  justify-content: center;
  animation: spin 1s linear infinite;
}

.earn_tasks_block_item_right_button.success {
  position: relative;
}

.earn_tasks_block_item_right_button.success p {
  display: none;
}

.earn_tasks_block_item_right_button.success img {
  display: none;
}

.earn_tasks_block_item_right_button.success svg {
  display: block !important;
  margin: auto;
  text-align: center;
  justify-content: center;
}

.earn_tasks_block_item_right_button svg, .earn_tasks_block_item_right_button img {
  display: none;
}

.earn_tasks_block_item_right button {
  width: 65px;
  height: 33px;
  background: #2C3864;
  border-radius: 50px;
  border: none;
  font-size: 14px;
  color: var(--h);
  font-weight: 600;
}

.earn_tasks_block_item_left_image img {
  width: 46px;
  height: 46px;
  border-radius: 9px;
}

.upgrades_section.earn_tasks {
  margin-top: 3px;
}

@media screen and (max-width: 365px) {
  .earn_challenges_block_top_spanner {
    transform: scale(0.84);
    transform-origin: top right;
  }
}